<div class='nav-background'>
	<ul class = 'nav nav-tabs'>
		<li class='active'><a href="/">BR</a></li>
		<li><a href="/create_resume">Create Resume</a></li>
		<li><a href="/my_resumes">View Resumes</a></li>
		<li>
			<% if session['user'].nil? %>
			<a href="/signin_page">Signin</a>
			<%end%>
		</li>
		<li>
			<% if session['user'].nil? %>
			<a href="/signup_page">Signup</a>
			<%end%>
		</li>
		<li>
			<% if session.has_key?('user') %>
				<a href="/logout">Logout</a>
			<% end %>
		</li>
	</ul>
</div>


<div class="hero-unit" id='index-hero-unit'>
	<% if session.has_key?('user') %>
		<h1><%= 'Hello, Welcome ' %><%= session['user'] %><%= '!' %></h1>
	<% else %>
		<h1><%= 'Hello, Welcome to Breezy Resume!' %></h1>
	<%end%>
	<p>Tired of formatting your resume each time? Well look no further, Breezy Resume universal resume builder has everything formatted for you! All you have to do is fill out the resume form and BAM you have a spectacular resume for your prospective employer. To learn more about Breezy Resume click on the learn more button.</p>
	<p><a class="btn btn-primary btn-large" href='/about'>Learn more</a></p>
</div>


<div>
	
</div>

<div class='error_message'>
	<h4><%= params['need_login'] %>
</div>
