<div class='nav-background'>
	<ul class = 'nav nav-tabs'>
		<li><a href="/">BR</a></li>
		<li><a href="/create_resume">Create Resume</a></li>
		<li class='active'><a href="/my_resumes">View Resumes</a></li>
		<li>
			<% if session['user'].nil? %>
			<a href="/signin_page">Sign in</a>
			<%end%>
		</li>
		<li>
			<% if session['user'].nil? %>
			<a href="/signup_page">Sign up</a>
			<%end%>
		</li>
		<li>
			<% if session.has_key?('user') %>
				<a href="/logout">Logout</a>
			<% end %>
		</li>
	</ul>
</div>

<div id='resume-container'>
	<ul id='resume-list'>
		<div class='well well-small' id='resume-list-container'>
			<% if @resumes.length == 0 %>
				<h1 class="text-center"><%= "No resume." %></h1>
			<%end%>
			<% @resumes.each do |resume| %>
				<li >
					<h4 class="pull-left" id='center-resume-title'><%= resume.title %></h4>
					<div class="my-resume-option-btns">
						<form class="pull-right my-resume-btn" action='/view_resumes/<%= resume.id %>' method="post">
							<input name="_method" type='hidden' value='delete'>
							<input class='btn btn-danger' type='submit' value='Delete'>
						</form>
						<a class='btn pull-right my-resume-btn' href="/resume_pdf/<%= resume.id %>.pdf">View in PDF</a>
						<!-- <a  class='btn btn-primary pull-right'href="/edit_resume/<%= resume.id %>">Edit</a> -->
						<a class='btn btn-info pull-right my-resume-btn' href="/view_resumes/<%= resume.id %>">View Resume</a>
					</div>
					<div class="clear"></div>	
				</li>
			<% end %>
			<div class='clear'></div>
		</div>
	</ul>
</div>