<div class='nav-background'>
	<ul class = 'nav nav-tabs'>
		<li><a href="/">BR</a></li>
		<li class='active'><a href="/create_resume">Create Resume</a></li>
		<li><a href="/my_resumes">View Resumes</a></li>
		<li>
			<% if session['user'].nil? %>
			<a href="/signin_page">Signin</a>
			<%end%>
		</li>
		<li>
			<% if session['user'].nil? %>
			<a href="/signup_page">Signup</a>
			<%end%>
		</li>
		<li>
			<% if session.has_key?('user') %>
				<a href="/logout">Logout</a>
			<% end %>
		</li>
	</ul>
</div>




<div class='well well-small' id="view-resume-container">
	<div id="view-resume-name-email">
		<h5 class='pull-left font-weight-normal' id="name"><%= @resume.first_name + ' ' + @resume.last_name %></h5> <h5 class='pull-right font-weight-normal' id="email"><%= @resume.email_address %></h5>	
	</div>

	<div id="resume-bottom-border"></div>

	<div>
		<h5 class='font-weight-normal'><%= @resume.home_address + ' | ' + @resume.city + ' | ' + @resume.state + ' | ' + @resume.zip_code.to_s + ' | Telephone number: ' + @resume.telephone_number.to_s %></h5>
	</div>
		
	<div class="resume_row">
		<div class='pull-left view-resume-subject'>
			<h5 class='font-weight-normal'>Education:</h5>
		</div>

		<div class='pull-left' id='view-resume-education-info'>
			<% @resume.educations.each do |i| %>
				<h5 class='view-resume-space-between-lines'><%= i.school + ', ' + i.school_city + ', ' + i.school_state %></h5>
				<h5 class='italic view-resume-space-between-lines'><%= i.degree + ', Graduation date: ' + i.graduation_date %></h5>
				<h5 class='italic view-resume-space-between-lines'>Major: <%= i.major %></h5>
				<h5 class='view-resume-space-between-lines'>GPA: <%= i.gpa %></h5><br>
			<%end%>
	 	</div>
	</div>

	<div class="clear">
		<div class='pull-left view-resume-subject'>
			<h5 class='font-weight-normal'>Experience:</h5>
		</div>

		<div class='pull-left view-resume-subject-info'>
			<% @resume.jobs.each do |i| %>
				<div class='inline-block my-resume-container'>
					<h5 class='pull-left' id='spacing-company-name'><%= i.company_name %></h5>
					<h5 class='font-weight-normal pull-right'><%= i.job_start + ' - ' + i.job_end %></h5>
					<br><h5 class='italic view-resume-space-between-lines'><%= i.position %></h5>
					<ul>
						<li><h5 class='font-weight-normal'><%= i.job_skills %></h5></li>
			 		</ul>
				</div>
		 	<%end%>
	 	</div>
	</div>

	<div class="clear">
		<div class='pull-left view-resume-subject'>
			<h5 class='font-weight-normal'>Other experience/skills:</h5>
		</div>
		<div class='pull-left view-resume-subject-info'>
			<% @resume.otherskills.each do |i| %>
				<ul class='view-resume-space-between-lines' id='view-resume-other-skills'>
					<li><%= i.skills %></li>
				</ul>
			<%end%>
		</div>
	</div>
	<div class='clear'></div>
</div>