<div >
	<ul class = 'nav nav-tabs'>
		<li><a href="/">BR</a></li>
		<li><a href="/create_resume">Create Resume</a></li>
		<li><a href="/my_resumes">View Resumes</a></li>
		<li class='active'>
			<% if session['user'].nil? %>
			<a href="">Signin/Signup</a>
			<%end%>
		</li>
		<li>
			<% if session.has_key?('user') %>
				<a href="/logout">Logout</a>
			<% end %>
		</li>
	</ul>
</div>

<div id='signin_form' class='pull-left'>
	<div>
		<div id='sign_in_error'>
			<%if params[:login_error] or params[:need_login]%>
				<span class='alert alert-error'>	
					<%= '* ' %>
					<%= params[:login_error] %>
					<%= params[:need_login] %>
				</span>
			<%end%>
			<div><br></div>
		</div>
	</div>


	<div>
		<div class='well well-small'>
			<div>
				<div>Signin</div><br>
			
				<form class='form-horizontal' action="/signin" method="post">
					<div class='control-group'>
						<label class='control-label'>Email: </label>
						<div class='controls'>
							<input type="text" id="inputEmail" name="login[email_address]" placeholder='Email' />
						</div>
					</div>

					<div class='control-group'>
						<label class='control-label'>Password: </label>
						<div class='controls'>
							<input type="password" id="inputPassword" name="login[password]" placeholder='Password' /s>
						</div>
					</div>

					<div class="control-group">
					   	<div class="controls">
					    	<br><button type="submit" class="btn">Signin</button>
					    </div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>


<div id='signup_form' class='pull-left'>
	<div>
		<div id='sign_up_error'>
			<%if params[:email_taken_error] or params[:empty_signup_field]%>
				<span class='alert alert-error'>	
					<%='* '%>
					<%= params[:email_taken_error] %>
					<%= params[:empty_signup_field] %>
				</span>
			<%end%>
			<div><br></div>
		</div>
	</div>	


	<div>
		<div class='well well-small'>
			<div>Signup</div><br>
		
			<div>
				<form class='form-horizontal' action="/signup" method="post">
					<div class='control-group'>
						<label class='control-label'>Email: </label>
						<div class='controls'>
							<input placeholder='Email' type="text" name="sign_up[email_address]" />
						</div>
					</div>

					<div class='control-group'>
						<label class='control-label'>Password: </label>
						<div class='controls'>
							<input placeholder='Password' type="password" name="sign_up[password]" /> 
						</div>
					</div>
					
					<div class="control-group">
			    		<div class="controls">
			      			<br><button type="submit" class="btn">Signup</button>
			    		</div>
			  		</div>
				</form>	
			</div>
		</div>
	</div>
</div>