<div class='nav-background'>
	<ul class = 'nav nav-tabs'>
		<li><a href="/">BR</a></li>
		<li><a href="/create_resume">Create Resume</a></li>
		<li><a href="/my_resumes">View Resumes</a></li>
		<li class='active'>
			<% if session['user'].nil? %>
			<a href="">Sign in</a>
			<%end%>
		</li>
		<li>
			<% if session['user'].nil? %>
			<a href="/signup_page">Sign up</a>
			<%end%>
		</li>
		<li>
			<% if session.has_key?('user') %>
				<a href="/logout">Logout</a>
			<% end %>
		</li>
	</ul>
</div>


	<%if params[:login_error] or params[:need_login] %>
	<div class='error-form'>
		<div class='bold error-form-message'>	
			<%= '* ' %>
			<%= params[:login_error] %>
			<%= params[:need_login] %>
			<%= params[:email_do_not_exists] %>
		</div>
	</div>
	<%elsif params[:email_do_not_exists] %> 
	<div class='error-form'>
		<div class='bold error-form-message' >	
			<%= '* ' %>
			<%= params[:email_do_not_exists] %>
			<%= 'Please click ' %>
			<a href="/signup_page">here</a>
			<%= ' to sign up.' %>
		</div>
	</div>
	<%end%><br/>


<div id='signin_form' >
	<div>
		<div class='well well-small lightcyan'>
			<div>
				<div>Sign in</div><br/>
			
				<form class='form-horizontal' action="/signin" method="post">
					<div class='control-group'>
						<label class='control-label'>Email: </label>
						<div class='controls'>
							<input type="text" name="login[email_address]" placeholder='Email'/>
						</div>
					</div>

					<div class='control-group'>
						<label class='control-label'>Password: </label>
						<div class='controls'>
							<input type="password" id="inputPassword" name="login[password]" placeholder='Password' /s>
						</div>
					</div>

					<div class='control-group'>
					    <button type="submit" class="btn span3 btn-primary" id="signin-btn">Sign in</button>
					</div>

				    <div class="text-center clear">
				    	<a href="/signup_page">Sign up</a>
				    </div>
				</form>
			</div>
		</div>
	</div>
</div>


